<br>
<br>

<app-about-as class="padding"></app-about-as>
<h2 class="underTitle">Java Core</h2>
<hr>

<div class="container">
  <div class="row">
    <div class="col-12 mx-auto">
      Radi se o kursu programiranja Jave. Trajanje kursa 5 mjeseci (2-3 puta sedmično, Teslić). Predavač Java programer
      sa iskustvom.
      Plan i program uskaldjen sa potrebama tržišta. Ciljna grupa završne godine srednje škole,
      nezaposlene osobe do 29 godina starosti. Organizator NVO Razvojni centar Teslić.
      Akcenta nije samo na teoriskom predavanju, već i u interakciji sa predavačem, ostalim polaznicima uz mnogo
      logičkih
      zadataka koji će biti odličan temelj za razvoj IT karijere.
      Cjena kursa zavisi od broja polaznika, okvirno izmedju 50-100 km / mjesečno.
    </div>

    <div class="row">
      <div class="col-2 mx-auto"></div>
      <div class="col-4 mx-auto">
        <table class="table table-striped w-auto">

          <!--Table head-->
          <thead>
          <tr>
            <th>#</th>
            <th>Oblast</th>
            <th>Teorija<br>časova</th>
            <th>Vježbe<br> časova</th>
            <th>Ukupno</th>
          </tr>
          </thead>
          <!--Table head-->

          <!--Table body-->
          <tbody>
          <tr *ngFor="let el of prviDio" class="table-info">
            <th scope="row">{{el.id}}</th>
            <td>{{el.oblast}}</td>
            <td>{{el.teorija}}</td>
            <td>{{el.vjezbe}}</td>
            <td>{{el.ukupno}}</td>
          </tr>
          </tbody>
          <!--Table body-->


        </table>
        <!--Table-->
      </div>
      <div class="col-2 mx-auto"></div>

      <div class="col-4 mx-auto">
        <table class="table table-striped w-auto">

          <!--Table head-->
          <thead>
          <tr>
            <th>#</th>
            <th>Oblast</th>
            <th>Teorija<br>časova</th>
            <th>Vježbe<br> časova</th>
            <th>Ukupno</th>
          </tr>
          </thead>
          <!--Table head-->

          <!--Table body-->
          <tbody>
          <tr *ngFor="let el of drugiDio" class="table-info">
            <th scope="row">{{el.id}}</th>
            <td>{{el.oblast}}</td>
            <td>{{el.teorija}}</td>
            <td>{{el.vjezbe}}</td>
            <td>{{el.ukupno}}</td>
          </tr>
          </tbody>
          <!--Table body-->
        </table>
        <!--Table-->
      </div>
      <div class="col-2 mx-auto"></div>

    </div>
  </div>
</div>
<app-footer></app-footer>
