<hr>
<div class="container">
  <!--Section: Features v.4-->
  <section>
<br>
    <!--Section heading-->
    <main class="text-center">
      <h1 class="font-weight-bold text-center">Zašto smo tako dobri?</h1>
      <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 55px;">
    </main>
    <!--Section description-->
    <p class="px-5 mb-5 pb-3 lead grey-text text-center">Naša organizacija bilježi odredjene propuste formalnog
      obrazovnja, koje je se pokazalo kao kruto i sporo prilagodljivo zahtjevima IT,
      tako da i idemo za tokom tržašta i njegovom potražnjom.
      Naši programi su fleksibilni i lako prilagodljivi potrebama IT firmi.
      Moto: praksa ispred teorije.</p>

    <!--Grid row-->
    <div class="row">

      <!--Grid column-->
      <div class="col-md-4">

        <!--Grid row-->
        <div class="row mb-2">
          <div class="col-2">
            <mdb-icon fas icon="flag-checkered" size="2x" class="deep-purple-text"></mdb-icon>
          </div>
          <div class="col-10 text-left">
            <h5 class="font-weight-bold">Stabilni</h5>
            <p class="grey-text">Neformalno obrazovanje nezaposlenih i zaposlenih osoba je mjera koju želimo sprovoditi
              sa ciljem povećanja zaposlenosti nezaposlenih osoba.
              .</p>
          </div>
        </div>
        <!--Grid row-->

        <!--Grid row-->
        <div class="row mb-2">
          <div class="col-2">
            <mdb-icon fas icon="flask" size="2x" class="deep-purple-text"></mdb-icon>
          </div>
          <div class="col-10 text-left">
            <h5 class="font-weight-bold">Praksa</h5>
            <p class="grey-text">Neformalno obrazovanje nezaposlenih i zaposlenih osoba je mjera koju želimo sprovoditi
              sa ciljem povećanja zaposlenosti nezaposlenih osoba.</p>
          </div>
        </div>
        <!--Grid row-->

        <!--Grid row-->
        <div class="row mb-2">
          <div class="col-2">
            <mdb-icon fas icon="glass-martini" size="2x" class="deep-purple-text"></mdb-icon>
          </div>
          <div class="col-10 text-left">
            <h5 class="font-weight-bold">Opuštajući</h5>
            <p class="grey-text">Neformalno obrazovanje nezaposlenih i zaposlenih osoba je mjera koju želimo sprovoditi
              sa ciljem povećanja zaposlenosti nezaposlenih osoba.</p>
          </div>
        </div>
        <!--Grid row-->

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-md-4 mb-2 center-on-small-only flex-center">
        <img src="https://mdbootstrap.com/img/Mockups/Transparent/Small/iphone-portfolio1.png" alt="" class="z-depth-0">
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-md-4">

        <!--Grid row-->
        <div class="row mb-2">
          <div class="col-2">
            <mdb-icon fas icon="heart" size="2x" class="deep-purple-text"></mdb-icon>
          </div>
          <div class="col-10 text-left">
            <h5 class="font-weight-bold">Pomoć</h5>
            <p class="grey-text">Neformalno obrazovanje nezaposlenih i zaposlenih osoba je mjera koju želimo sprovoditi
              sa ciljem povećanja zaposlenosti nezaposlenih osoba.</p>
          </div>
        </div>
        <!--Grid row-->

        <!--Grid row-->
        <div class="row mb-2">
          <div class="col-2">
            <mdb-icon fas icon="bolt" size="2x" class="deep-purple-text"></mdb-icon>
          </div>
          <div class="col-10 text-left">
            <h5 class="font-weight-bold">Ubrzani</h5>
            <p class="grey-text">Neformalno obrazovanje nezaposlenih i zaposlenih osoba je mjera koju želimo sprovoditi
              sa ciljem povećanja zaposlenosti nezaposlenih osoba.</p>
          </div>
        </div>
        <!--Grid row-->

        <!--Grid row-->
        <div class="row mb-2">
          <div class="col-2">
            <mdb-icon fas icon="magic" size="2x" class="deep-purple-text"></mdb-icon>
          </div>
          <div class="col-10 text-left">
            <h5 class="font-weight-bold">Magični</h5>
            <p class="grey-text">Neformalno obrazovanje nezaposlenih i zaposlenih osoba je mjera koju želimo sprovoditi
              sa ciljem povećanja zaposlenosti nezaposlenih osoba.</p>
          </div>
        </div>
        <!--Grid row-->

      </div>
      <!--Grid column-->

    </div>
    <!--Grid row-->

  </section>
  <!--/Section: Features v.4-->
</div>
