<br>
<h2 class="underTitle">INFOBIP</h2>
<hr>

<div class="container">
  <div class="row">
    <div class="col-12 mx-auto">
      Infobip je međunarodna informatička i telekomunikacija firma sa sjedištima u Londonu, Puli i Zagrebu, i regionalnim uredom u Sarajevu. Razvija mrežne usluge za mobilne komunikacije i ima više od 2700 zaposlenih u 40-ak zemalja. Portfolio sadrži profesionalna rješenja za obradu i isporuku SMS-ova, glasovnih poruka, telefonskih poziva, "push" obavještenja, e-pošte i poruka putem popularnih aplikacija za razmjenu poruka na pametnim telefonima. Klijenti Infobipa su društvene mreže, internetske kompanije, mobilne aplikacije, banke, marketinške agencije i poduzeća, kao i razne neprofitne organizacije i vladine agencije.

      Regionalni uredi su u Buenos Airesu, São Paulu, Istanbulu, Kuala Lumpuru, Bangkoku, Vancouveru, Dubaiju, Beogradu, Johannesburgu, Nairobiju, Lagosu, Moskvi i Mumbaiju. 2014. i 2015. godine, kompanija je konsolidovala operacije u Latinskoj Americi i na Dalekom istoku.

      Infobip je najveća hrvatska IT kompanija po broju zaposlenih. Od 2009. razvija se na međunarodnom nivou, osniva urede i širi poslovanje u globalnim poslovnim centrima. U novembru 2014. investira 1,8 miliona eura u infrastrukturu, sigurnost i zaštitu informacija. Po analizi ICTbusiness.info i tvrtke Bisnod, Infobip je bio najveći hrvatski izvoznik u IT sektoru u 2016.

      Učestvuje u tehnološkim konferencijama i izložbama širom svijeta. Od 2012. organizuje internu Akademiju i uspostavlja saradnju s nekoliko univerziteta i studentskih udruženja u Hrvatskoj, Bosni i Hercegovini i Srbiji. Od 2015. priprema regionalnu konferenciju programera pod nazivom "Dev Days", o stručnim i organizacionim pitanjima modernog razvoja.

      Član je udruženja GSM i profesionalnih grupa Mobile Ecosystem Forum, Mobile Marketing Association i Mobey forum. Ima certifikat PCI DSS, potvrdu o sigurnosti svojih sistema za transport osjetljivih podataka poput PIN-ova za kreditne kartice.div>
  <br>
      <b>Vlasništvo:</b>	Privatno
      <br>

      <b>Industrija:</b>
      Mobilne komunikacije
      Telekomunikacije
      Mrežna rješenja
      <br>

      <b>Sjedište:</b>
      London, Ujedinjeno Kraljevstvo
      Zagreb, Hrvatska
      Pula, Hrvatska
      <br>

      <b>Poslužuje:</b>	Cijeli svijet
      <br>

      <b>Proizvodi:</b>	API za SMS, dvostruka provjera autentičnosti, mGate, dvosmjerni SMS, provjera broja, "push" obavještenja, poruke preko mreže (OTT), USSD, voice...
      <br>

      <b>Broj zaposlenih:</b>	c. 2700
      <br>

      <b>Web-sajt:</b>	infobip.com
      <h1 class="title h1 my-4">The responsive-font-size mixin</h1>
      <article class="article">
        <h2 class="article__title">Automated font-size rescaling with SCSS</h2>
        <div class="article__date">2017/12/21</div>
        <div class="article__content">This text automatically rescales thanks to the <a href="https://github.com/MartijnCuppens/postcss-rfs">RFS
          mixin</a>. It uses the RFS algorithm to automatically calculate the appropriate font size based on the dimensions
          of the monitor or device.
        </div>
      </article>
      <article class="article">
        <h2 class="article__title">PostCSS alternative</h2>
        <div class="article__content">A <a href="https://github.com/MartijnCuppens/postcss-rfs" target="_blank">PostCSS
          plugin</a> is available which uses the "responsive-font-size" property.</div>
      </article>
      <article class="article">
        <h2 class="article__title">RFS in Bootstrap?</h2>
        <div class="article__content">Currenty there is an open feature-request to put RFS in Bootstrap: <a href="https://github.com/twbs/bootstrap/issues/23053">Responsive
          font sizes</a>. The result of RFS in Bootstrap is shown on <a href="http://martijncuppens.github.io/rfs/">the
          bootstrap RFS demo site</a>.</div>
      </article>
      <article class="article disable-responsive-font-size">
        <h2 class="article__title">Disable responsive font-size</h2>
        <div class="article__content">Responsive font-sizing can be disabled within an element by adding the ".disable-responsive-font-size"
          class</div>
      </article>
      <article class="article">
        <h2 class="article__title">Lorem ipsum text</h2>
        <div class="article__content">No demo without Lorem ipsum text. Lorem ipsum dolor sit amet, consectetur adipisicing
          elit. Provident tenetur delectus fuga et, doloribus rerum! Aperiam voluptate mollitia rerum necessitatibus
          repudiandae asperiores doloremque deleniti praesentium, dolorem maxime, quia, libero. Maiores? Lorem ipsum dolor
          sit amet, consectetur adipisicing elit. Iste distinctio quidem, obcaecati aperiam! Distinctio porro pariatur labore
          veniam deserunt mollitia consectetur unde voluptatem blanditiis eaque aperiam, sequi sed vero debitis!</div>
      </article>
    </div>
</div>
</div>
<br>
<app-footer></app-footer>
