<br>
<br>

 <h2 class="underTitle">INFOBIP</h2>
<hr>

<div class="container">
  <div class="row">
    <div class="col-12 mx-auto">
      Infobip je međunarodna informatička i telekomunikacija firma sa sjedištima u Londonu, Puli i Zagrebu, i regionalnim uredom u Sarajevu. Razvija mrežne usluge za mobilne komunikacije i ima više od 2700 zaposlenih u 40-ak zemalja. Portfolio sadrži profesionalna rješenja za obradu i isporuku SMS-ova, glasovnih poruka, telefonskih poziva, "push" obavještenja, e-pošte i poruka putem popularnih aplikacija za razmjenu poruka na pametnim telefonima. Klijenti Infobipa su društvene mreže, internetske kompanije, mobilne aplikacije, banke, marketinške agencije i poduzeća, kao i razne neprofitne organizacije i vladine agencije.

      Regionalni uredi su u Buenos Airesu, São Paulu, Istanbulu, Kuala Lumpuru, Bangkoku, Vancouveru, Dubaiju, Beogradu, Johannesburgu, Nairobiju, Lagosu, Moskvi i Mumbaiju. 2014. i 2015. godine, kompanija je konsolidovala operacije u Latinskoj Americi i na Dalekom istoku.

      Infobip je najveća hrvatska IT kompanija po broju zaposlenih. Od 2009. razvija se na međunarodnom nivou, osniva urede i širi poslovanje u globalnim poslovnim centrima. U novembru 2014. investira 1,8 miliona eura u infrastrukturu, sigurnost i zaštitu informacija. Po analizi ICTbusiness.info i tvrtke Bisnod, Infobip je bio najveći hrvatski izvoznik u IT sektoru u 2016.

      Učestvuje u tehnološkim konferencijama i izložbama širom svijeta. Od 2012. organizuje internu Akademiju i uspostavlja saradnju s nekoliko univerziteta i studentskih udruženja u Hrvatskoj, Bosni i Hercegovini i Srbiji. Od 2015. priprema regionalnu konferenciju programera pod nazivom "Dev Days", o stručnim i organizacionim pitanjima modernog razvoja.

      Član je udruženja GSM i profesionalnih grupa Mobile Ecosystem Forum, Mobile Marketing Association i Mobey forum. Ima certifikat PCI DSS, potvrdu o sigurnosti svojih sistema za transport osjetljivih podataka poput PIN-ova za kreditne kartice.div>
  <br>
      <b>Vlasništvo:</b>	Privatno
      <br>

      <b>Industrija:</b>
      Mobilne komunikacije
      Telekomunikacije
      Mrežna rješenja
      <br>

      <b>Sjedište:</b>
      London, Ujedinjeno Kraljevstvo
      Zagreb, Hrvatska
      Pula, Hrvatska
      <br>

      <b>Poslužuje:</b>	Cijeli svijet
      <br>

      <b>Proizvodi:</b>	API za SMS, dvostruka provjera autentičnosti, mGate, dvosmjerni SMS, provjera broja, "push" obavještenja, poruke preko mreže (OTT), USSD, voice...
      <br>

      <b>Broj zaposlenih:</b>	c. 2700
      <br>

      <b>Web-sajt:</b>	infobip.com

    </div>
</div>
</div>
