<div class="container">
  <div class="icon"><i class="pic fab fa-android fa-lg  "></i></div>
  <div class="icon"><i class="pic fab fa-angular fa-lg  "></i></div>
  <div class="icon"><i class="pic fab fa-vuejs fa-lg  "></i></div>
  <div class="icon"><i class="pic fab fa-java fa-lg  "></i></div>
  <div class="icon"><i class="pic fab fa-react fa-lg  "></i></div>

  <div class="icon"><i class="pic fab fa-wordpress fa-lg  "></i></div>
  <div class="icon"><i class="pic fab fa-css3-alt fa-lg  "></i></div>
  <div class="icon"><i class="pic fab fa-js fa-lg  "></i></div>
  <div class="icon"><i class="pic fab fa-node-js fa-lg  "></i></div>
  <div class="icon"><i class="pic fab fa-java fa-lg  "></i></div>

  <div class="icon"><i class="pic fab fa-html5 fa-lg  "></i></div>

  <div class="icon"><i class="pic fab fa-slack fa-lg  "></i></div>
  <div class="icon"><i class="pic fab fa-github fa-lg  "></i></div>
  <div class="icon"><i class="pic fab fa-linux fa-lg  "></i></div>
  <div class="icon"><i class="pic fab fa-java fa-lg  "></i></div>
</div>
<img
  src="https://img.freepik.com/free-vector/startup-business-concept-with-various-icon-line-like-rocket-business-investment-with-modern-line-style_25156-252.jpg?size=626&ext=jpg"
  class="logo mt-5"/>
