
img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}
.container{
  padding: 10px;
}
.myCard{
  width: 18rem;
}
.cardWrapper{
  padding: 5px;
}
.pullUP{
  transform: translateY(-30%);
}
.magic{
  transform: translateY(-30%);
}
