<div class="padding-nav">
  <ul class="nav justify-content-center grey lighten-4 py-4 fixed-top">
    <li class="nav-item">
      <a class="nav-link active" [routerLink]="'/'">POČETNA</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" [routerLink]="'/onama'">O NAMA</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="'/istrazivanja'">ISTRAZIVANJA</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="'/dogadjaji'">DOGADJAJI</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="'/donatori'">DONATORI</a>
    </li>
  </ul>
</div>
