<div class="container">
  <section class="my-5">

    <main class="text-center">
      <h1 class="font-weight-bold text-center">Naši prioriteti</h1>
      <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 55px;">
    </main>
    <!-- Section description -->
    <p class="px-5 mb-5 pb-3 lead grey-text text-center">Neformalno obrazovanje nezaposlenih i zaposlenih osoba je mjera
      koju želimo sprovoditi
      sa ciljem povećanja zaposlenosti nezaposlenih osoba te smanjivanja nerazmjera ponude i potražnje na svim nivoima
      tržišta rada.
      Osposobiti nezaposlene osobe za dobijanje praktičnih znanja i vještina potrebnih za njihovo aktivno uključivanje
      na tržište rada..</p>
    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->

      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-lg-6">

        <!-- Grid row -->
        <div class="row mb-3">
          <div class="col-md-1 col-2">
            <mdb-icon fas icon="book" size="2x" class="cyan-text"></mdb-icon>
          </div>
          <div class="col-md-11 col-10">
            <h5 class="font-weight-bold mb-3">Edukacija</h5>
            <p class="grey-text">Smanjenje nezaposlenosti jedan je visokih prioriteta organizacije.S obzirom da u Bosni
              i Hercegovini
              zanimanja u okviru IT sektora spadaju među deficitarne profesije, a trend potražnje za ovim kadrovima
              kontinuirano raste, cilj naše organizacije je obezbijedila obuku i prekvalifikaciju
              nezaposlenih osoba za poslove iz oblasti primjene informacionih tehnologija.</p>
          </div>
        </div>
        <!-- Grid row -->

        <!-- Grid row -->
        <div class="row mb-3">
          <div class="col-md-1 col-2">
            <mdb-icon fas icon="code" size="2x" class="red-text"></mdb-icon>
          </div>
          <div class="col-md-11 col-10">
            <h5 class="font-weight-bold mb-3">Tehnologije</h5>
            <p class="grey-text">Java Core -> Spring Framework i Hibernate biće dovoljni da se napravi RESTful Web Service i bude vidljiv na radarima Java tržišta.
              </p>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-1 col-2">
            <mdb-icon fas icon="fas fa-brain" size="2x" class="red-text"></mdb-icon>
          </div>
          <div class="col-md-11 col-10">
            <h5 class="font-weight-bold mb-3">Uključi mozak</h5>
            <p class="grey-text">Uključi mozak kao glavni resurs, pronadji način ne razlog. Pravilno pristupi rješavnju tekućih obaveza, zadata, poslovnih obaveza...neki su od načina sa kojima će te se susresti u našim aktivnostima.</p>
          </div>
        </div>
        <!-- Grid row -->

        <!-- Grid row -->
        <div class="row">
          <div class="col-md-1 col-2">
            <mdb-icon far icon="money-bill-alt" size="2x" class="deep-purple-text"></mdb-icon>
          </div>
          <div class="col-md-11 col-10">
            <h5 class="font-weight-bold mb-3">Plaćanje</h5>
            <p class="grey-text mb-0">Uz pomoć naših kurseva i projekata, a uz saradnju sa drugih organizacijama i
              IT firmama planiramo da sprovedemo edukaciju koja će biti prilagodjena svim socijalnim slojevima stanovništva.<br>
              Popusti naših usluga za višečlane porodice, socijalno ugrožene osobe i osobe sa fizičkim poteškoćama neće dolaziti u pitanje.</p>
          </div>
        </div>
        <!-- Grid row -->

      </div>
      <div class="col-lg-6">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/58/Tesli%C4%87_in_BiH.svg/946px-Tesli%C4%87_in_BiH.svg.png" class="img-fluid "
             alt="Responsive image">
      </div>
      <!-- Grid row -->


    </div>
  </section>
  <!-- Projects section v.3 -->
</div>
