<br>
<h2 class="underTitle">Java core</h2>
<hr>

<div class="container">
  <div class="row">
    <div class="col-12 mx-auto">
      <h1 class="title h1 my-4">Šta nudimo</h1>
      <article class="article">
        <h2 class="article__title">Kurs Java programiranja</h2>
        <div class="article__content">Naš kurs Java programiranja podrazumeva intezivno učenje programskog jezika Java i
          praktičan rad na
          razvoju softverskog rešenja, koristeći programski jezik Java. Kako biste što temeljnije savladali gradivo, sve
          oblasti se prolaze
          kroz praktične primjere, uz mnoštvo vježbi i zadataka, a na završetku svake oblasti dobija se praktični
          zadatak.
        </div>
        <hr>
      </article>
      <article class="article">
        <h2 class="article__title">Vrjeme</h2>
        <div class="article__date">Početak: 16.01.2021.</div>
        <div class="article__date">Kraj: 16.05.2021.</div>
        <div class="article__content">Trajanje kursa 5 mjeseci (80 časova).</div>
        <hr>
      </article>
      <article class="article">
        <h2 class="article__title">Cjena</h2>
        <div class="article__content">Popusti naših usluga za višečlane porodice, socijalno ugrožene osobe i osobe sa
          posebnim potrebama koje mogu da se bave IT poslom. Cjena kursa zavisi od statusa polaznika školski uzrast i
          nezaposlene osobe 50km i zaposlene osobe 100 km/mjesečno.
        </div>
      </article>
      <hr>
      <article class="article disable-responsive-font-size">
        <h2 class="article__title">Zašto baš mi</h2>
        <div class="article__content">
          U moru onlie kurseva, privatnioh škola, fakulteta postavlja se pitanje Zašto baš mi?<br>
          <ul>
            <li>Predavač Java programer sa iskustvom.</li>
            <li>Akcenat na praktičnom</li>
            <li>Plan i program uskaldjen sa potrebama tržišta</li>
            <li>Lorem ipsum</li>
          </ul>

          Ciljna grupa završne godine srednje škole,
          nezaposlene osobe do 30 godina starosti.

          Organizator NVO Razvojni centar Teslić.
          Akcenta nije samo na teoriskom predavanju, već i u interakciji sa predavačem i ostalim polaznicima uz mnogo
          logičkih zadataka koji će biti odličan temelj za razvoj IT karijere.
          Na samom kraju kursa, svo stečeno znanje primenjuje se na završnom projektu.
        </div>
        <hr>
      </article>

      <article class="article disable-responsive-font-size">
        <h2 class="article__title">Kome je namjenjeno</h2>
        <div class="article__content">
          <br>
          <ul>
            <li>Završne godine srednje škole</li>
            <li>Nezaposlene osobe, do 30 godina starosti</li>
            <li>Zaposlene osobe koje žele da izvrše prekvalifikaciju i pronadju bolje radno mjesto</li>
          </ul>

          Ciljna grupa završne godine srednje škole,
          nezaposlene osobe do 30 godina starosti.

          Organizator NVO Razvojni centar Teslić.
          Akcenta nije samo na teoriskom predavanju, već i u interakciji sa predavačem i ostalim polaznicima uz mnogo
          logičkih zadataka koji će biti odličan temelj za razvoj IT karijere.
          Na samom kraju kursa, svo stečeno znanje primenjuje se na završnom projektu.
        </div>
        <hr>
      </article>
      <article class="article">
        <h2 class="article__title">Šta kurs uključuje</h2>
        <div class="article__content"> Kurs ne uključuje napredni dio obuke.
          Svi polaznici koji uspješno polože završni test mogu da apliciraju za napredni dio obuke koji uključuje
          dodatnih 40 časova, gdje se polaznici upoznaju
          sa osnovama Springa, Hibernate-a i frontend tehnologija. Znanja iz ovih oblasti omogućava izlazak na tržište
          rada.
        </div>
        <hr>
      </article>
      <h1 class="font-weight-bold text-center">Osnove - proceduralni dio</h1>

      <div class="table-responsive">
        <table class="table">
          <thead class="table-info">
          <tr>
            <th scope="col">Br</th>
            <th scope="col">Oblast</th>
            <th scope="col">Ukratko</th>
            <th scope="col">Teorija</th>
            <th scope="col">Vježbe</th>
            <th scope="col">Ukupno</th>
          </tr>
          </thead>
          <tbody *ngFor="let oblast of prviDio">
          <tr [ngClass]="{'table-info': isOdd(oblast.id)}">
            <th scope="row">{{oblast.id}}</th>
            <td>{{oblast.ime}}</td>
            <td>{{oblast.opis}}</td>
            <td>{{oblast.teorija}}</td>
            <td>{{oblast.vjezbe}}</td>
            <td>{{oblast.ukupno}}</td>
          </tr>
          </tbody>
        </table>
        <hr>

        <h1 class="font-weight-bold text-center">Objektno orjentisani dio</h1>
        <div class="table-responsive">
        <table class="table">
          <thead class="table-info">
          <tr>
            <th scope="col">Br</th>
            <th scope="col">Oblast</th>
            <th scope="col">Ukratko</th>
            <th scope="col">Teorija</th>
            <th scope="col">Vježbe</th>
            <th scope="col">Ukupno</th>
          </tr>
          </thead>
          <tbody *ngFor="let oblast of drugiDio">
          <tr [ngClass]="{'table-info': isOdd(oblast.id)}">
            <th scope="row">{{oblast.id}}</th>
            <td>{{oblast.ime}}</td>
            <td>{{oblast.opis}}</td>
            <td>{{oblast.teorija}}</td>
            <td>{{oblast.vjezbe}}</td>
            <td>{{oblast.ukupno}}</td>
          </tr>
          </tbody>
        </table>
        <hr>
          <article class="article">
            <h2 class="article__title">Šta kurs ne uključuje</h2>
            <div class="article__content"> Kurs ne uključuje napredni dio obuke.
              Svi polaznici koji uspješno polože završni test mogu da apliciraju za napredni dio obuke koji uključuje
              dodatnih 40 časova, gdje se polaznici upoznaju
              sa osnovama Springa, Hibernate-a i frontend tehnologija. Znanja iz ovih oblasti omogućava izlazak na tržište
              rada.
            </div>
            <hr>
          </article>
      </div>
    </div>
  </div>
</div>
<br>
</div>
<app-footer></app-footer>
