<header class="h-100">
  <!-- Main -->
  <div class="view">
    <div class="full-bg-img">
      <div class="mask flex-center">
        <div class="container">
          <div class="white-text text-center wow fadeInUp">
            <h2 class="card-title h2 my-4 py-2">RAZVOJNI CENTAR TESLIĆ</h2>
            <h3>Nevladina organizacija sa akcentom na razvoj lokalne zajednice Teslić.
              Usmjerena na edukacije mladih i prekvalifikacije odraslih osoba</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.Main -->
</header>


<!--Main Layout-->
<app-content></app-content>
