<header class="h-100">
  <!-- Main -->
  <div class="view">
    <div class="full-bg-img">
      <div class="mask flex-center">
        <div class="container">
          <div class="white-text text-center wow fadeInUp">
            <h1 class="card-title h2 my-4 py-2">URADI PAMETAN POTEZ ZA IT KARIJERU</h1>
            <h2><b>Obuke i kursevi iz progamiranja, dizajna, digitalnog marketinga i drugih savremenih vještina.
              Neformalno obrazovanje namijenjeno mladima i odraslima koji žele da naprave iskorak u svojoj karijeri.</b></h2>
            <main class="text-center">
              <button (click)="redirectToActiveCourse()" mdbBtn type="button" color="red" rounded="true" outline="true" mdbWavesEffect><b>AKTIVNI KURS</b></button>
            </main>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.Main -->
</header>


<!--Main Layout-->
<app-content></app-content>
